<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-info-screen">
    <swiper-container #swiper slides-per-view="1" (slidechange)="slideChanged($event)" speed="400">
      <swiper-slide *ngFor="let item of images; let i = index">
        <div class="top-images">
          <img [src]="item" alt="" class="img">
          <ion-label class="lbl">{{i + 1}} / {{images.length}}</ion-label>
        </div>
      </swiper-slide>
    </swiper-container>

    <ion-row class="product-info">
      <ion-col size="12">
        <div class="price-tag">
          <ion-label class="price">
            <span class="active" *ngIf="discountPercentage <= 0">{{price | currency}}</span>
            <span class="active" *ngIf="discountPercentage > 0">{{discount | currency}}</span>
            &nbsp;
            <span class="deactive" *ngIf="discountPercentage > 0">{{price | currency}}</span>
          </ion-label>
        </div>
        <ion-label class="title">
          {{ title }}
        </ion-label>
        <div class="product-info-other">
          <ion-label class="desc">{{ product?.description }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="product && product.attributes && product.attributes.length > 0" class="attributes-section">
      <div *ngFor="let attribute of product.attributes">
        <ion-label class="attribute-title">{{ attribute.name }}</ion-label>
        <div class="attribute-values">
          <ion-chip *ngFor="let value of attribute.values" (click)="selectAttribute(attribute.id, value.id)"
                    [outline]="selectedAttributes[attribute.id] !== value.id" color="primary">
            <ion-label>{{ value.name }}</ion-label>
          </ion-chip>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" color="medium" (click)="addToCart()">
          <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
          Add to Cart
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="primary" (click)="addToCart()">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Buy Now
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
