<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ecommerce - 1 DilMart This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Search Product</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios">
    <ion-searchbar placeholder="Search" inputmode="text" type="text" mode="ios"
      style="padding-top: 0px;padding-bottom: 0px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-screen">
    <ion-label class="title">Popular Searches</ion-label>

    <div class="search-tags">
      <ion-chip color="medium" mode="ios" outline="true" *ngFor="let item of util.cateList;">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-chip>
    </div>

  </div>
</ion-content>