<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ecommerce - 1 DilMart This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Successfully</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="payment-screen">
    <img src="assets/images/images/check.png" alt="" class="img">
    <ion-label class="title">Your Order Has Been Accepted</ion-label>
    <ion-label class="sub-title">Your Items has Placed and is on its way to being Processed.</ion-label>
    <ion-button expand="block" fill="solid" color="primary" (click)="onOrders()">
      TRACK ORDER
    </ion-button>
    <ion-button expand="block" fill="clear" color="dark" (click)="onHome()">
      Back to Home
    </ion-button>
  </div>
</ion-content>