<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>DilMart</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" (click)="onChat()">
        <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="ios" color="primary">
    <ion-item lines="none" class="search-bar-home-header" (click)="onSearch()">
      <ion-icon slot="start" name="search-outline" color="medium"></ion-icon>
      <ion-label class="lbl">Search for favourite items</ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar mode="md" color="primary">
    <ion-segment [(ngModel)]="cateName" mode="md" (ionChange)="segmentChanged($event)" [scrollable]="true">
      <ion-segment-button [value]="item.name" *ngFor="let item of util.cateList;">
        <ion-label>{{item.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="loading" class="skeleton-container">
    <div class="skeleton skeleton-card"></div>
    <div class="skeleton skeleton-card"></div>
    <div class="skeleton skeleton-card"></div>
  </div>

  <div *ngIf="!loading" class="home-screen">
    <div class="main-title">
      <ion-label class="lbl">Hot Offer</ion-label>
      <ion-label class="btn" (click)="onOffers()">View All</ion-label>
    </div>
    <swiper-container slides-per-view="1.2" centered-slides="true" space-between="10" speed="400" initial-slide="1">
      <swiper-slide *ngFor="let item of util.banners" (click)="byCategory('Offers','1')">
        <div class="banner-covers" [ngStyle]="{'background-image': 'url('+item+')'}"></div>
      </swiper-slide>
    </swiper-container>
    <div class="main-title">
      <ion-label class="lbl">Preferred Brand</ion-label>
      <ion-label class="btn" (click)="onBrands()">View All</ion-label>
    </div>
    <ion-row class="brands-list">
      <ion-col size="3" *ngFor="let item of categories.slice(0,6);" (click)="byCategory(item.name,item.id)">
        <div class="cover-image" [ngStyle]="{'background-image': 'url('+apiUrl+item.image_url+')'}"></div>
      </ion-col>
    </ion-row>
    <div *ngFor="let category of categoriesWithProducts" class="category-section">
      <div class="main-title">
        <ion-label class="lbl">{{ category.custom_title || category.name }}</ion-label>
        <ion-label class="btn" (click)="byCategory(category.name, category.id)">View All</ion-label>
      </div>
      <ion-item lines="none">
        <img [src]="category.banner_image_url" alt="{{ category.name }} banner" />
      </ion-item>
      <ion-row class="product-list-grid">
        <ion-col [size]="category.display_column || 6" *ngFor="let item of category.products" (click)="onProductInfo(item.id)">
          <ion-card class="product-info" mode="ios">
            <div class="cover-image" [ngStyle]="{'background-image': 'url('+item.image_url+')'}">
              <div class="discount-banner" *ngIf="item.price.base_price">
                <ion-label class="lbl">{{item.discountPercentage}}%</ion-label>
              </div>
              <div class="heart-icon">
                <ion-icon name="heart" color="light"></ion-icon>
              </div>
            </div>
            <div class="bottom-content">
              <ion-label class="title">
                {{ (item.name.length > 20) ? (item.name | slice:0:20) + '..' : (item.name) }}
              </ion-label>
              <div class="more-info">
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-label class="lbl"> {{item.rating}} </ion-label>
                <ion-label class="lbl"> | </ion-label>
                <ion-label class="lbl"> > {{item.stock}}</ion-label>
              </div>
              <ion-label class="sold-by" *ngIf="item.brand">Sold By: {{ (item.brand.length > 14) ? (item.brand | slice:0:14) + '..' : (item.brand) }} </ion-label>
              <ion-label class="price">
                <span class="active" *ngIf="!item.price.base_price"> {{item.currency}} {{item.price.price_reduce}} </span>
                <span class="active" *ngIf="item.price.base_price > 0">{{item.currency}}{{item.price.price_reduce}}</span>
                &nbsp;
                <span class="deactive" *ngIf="item.price.base_price > 0">{{item.currency}}{{item.price.base_price}}</span>
              </ion-label>
              <div class="cart-btn">
                <ion-icon name="bag-add-outline" color="light"></ion-icon>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    
    
    
  </div>
</ion-content>
