<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ecommerce - 1 DilMart This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="checkout-screen">
    <ion-label class="main-title">Delivery Address</ion-label>
    <ion-card mode="ios" class="address-card">
      <ion-row class="row-data">
        <ion-col size="1">
          <ion-icon name="location-outline" color="secondary"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-label class="title">Home</ion-label>
          <ion-label class="sub-title">John Cannery (+91 963 852 7410)</ion-label>
          <ion-label class="address">Bangalore,Akshya Nagar 1st Block 1st Cross</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-label class="main-title">Shopping List</ion-label>
    <ion-card mode="ios" class="cart-item" *ngFor="let item of util.products.slice(0,2);let i = index;">
      <div class="cart-header">
        <ion-icon name="storefront-outline" color="secondary"></ion-icon>
        <ion-label class="brand">{{item.brand}}</ion-label>
      </div>
      <div class="cart-content">
        <ion-row>
          <ion-col size="3">
            <div class="cover-image" [ngStyle]="{'background-image': 'url('+item.thumbnail+')'}"></div>
          </ion-col>
          <ion-col size="6">
            <div class="name-content">
              <ion-label class="title">
                {{ (item.title.length>20)? (item.title | slice:0:20)+'..':(item.title)}}
              </ion-label>
              <div class="variations">
                <ion-label class="lbl">Variations : Yellow, L</ion-label>
                <ion-icon name="chevron-down-outline" color="light"></ion-icon>
              </div>
            </div>
          </ion-col>
          <ion-col size="3" style="position: relative;">
            <ion-label class="price">
              <span class="active" *ngIf="item.discountPercentage <= 0"> {{item.price}} </span>
              <span class="active"
                *ngIf="item.discountPercentage > 0">₹{{getDiscountedPrice(item.price,item.discountPercentage)}}</span>
              &nbsp;
              <span class="deactive" *ngIf="item.discountPercentage > 0">₹{{item.price}}</span>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="message-content">
          <ion-col size="4">
            <ion-label class="msg-lbl">Message : </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label class="msg-info">Cultivated with thick packing.</ion-label>
          </ion-col>
        </ion-row>
        <div class="line-break"></div>
        <ion-row class="message-content">
          <ion-col size="4">
            <ion-label class="msg-lbl">Total Order (1) : </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label class="msg-info">₹ {{item.price}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
    <ion-label class="main-title">Shopping Options</ion-label>
    <ion-card mode="ios" class="address-card">
      <ion-row class="row-data">
        <ion-col size="1">
          <ion-icon name="bicycle-outline" color="secondary"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label class="title">Courier Name</ion-label>
          <ion-label class="sub-title">₹152.00</ion-label>
          <ion-label class="address">Shipped 7 - 8 days</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="payment-info" mode="ios">
      <div class="payment-list">
        <ion-label class="lbl">Sub total (2 Product) : </ion-label>
        <ion-label class="lbl-bold">₹157,22</ion-label>
      </div>
      <div class="payment-list">
        <ion-label class="lbl">Shipping fee : </ion-label>
        <ion-label class="lbl-bold">₹17,22</ion-label>
      </div>
      <div class="payment-list">
        <ion-label class="lbl">Discount (10%) : </ion-label>
        <ion-label class="lbl-bold">₹7,22</ion-label>
      </div>
      <div class="break"></div>
      <div class="payment-list">
        <ion-label class="lbl-bold">Total : </ion-label>
        <ion-label class="lbl-bold">₹157,97,22</ion-label>
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" color="primary">
      Confirm your Order
    </ion-button>
  </ion-toolbar>
</ion-footer>