<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ecommerce - 1 DilMart This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios" color="primary">
    <div class="top-search-favourite">
      <ion-item lines="none" class="search-bar-favourite" (click)="onSearch()">
        <ion-icon slot="start" name="search-outline" color="medium"></ion-icon>
        <ion-label class="lbl">Search for favourite items</ion-label>
      </ion-item>
      <ion-button expand="block" fill="clear" color="light" (click)="presentModal()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-screen">
    <ion-row class="product-list-grid">
      <ion-col size="6" *ngFor="let item of products" (click)="onProductInfo(item.id)">
        <ion-card class="product-info" mode="ios">
          <div class="cover-image" [ngStyle]="{'background-image': 'url('+apiUrl+item.image_url+')'}">
            <div class="discount-banner" *ngIf="item.price.base_price">
              <ion-label class="lbl">{{item.discountPercentage}}%</ion-label>
            </div>
            <div class="heart-icon">
              <ion-icon name="heart" color="light"></ion-icon>
            </div>
          </div>
          <div class="bottom-content">
            <ion-label class="title">
              {{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name)}}</ion-label>
            <ion-label class="lbl">  {{ (item.description.length>20)? (item.description | slice:0:20)+'..':(item.description)}} </ion-label>
            <div class="more-info">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label class="lbl"> {{item.rating}} </ion-label>
              <ion-label class="lbl"> | </ion-label>
              <ion-label class="lbl" *ngIf="item.stock"> > {{item.stock}}</ion-label>
            </div>
            <ion-label class="sold-by" *ngIf="item.brand">Sold By : {{ (item.brand.length>14)? (item.brand |
              slice:0:14)+'..':(item.brand)}} </ion-label>
            <ion-label class="price">
              <span class="active" *ngIf="!item.price.base_price"> {{item.currency}} {{item.price.price_reduce}} </span>
              <span class="active"
                *ngIf="item.price.base_price > 0">{{item.currency}}{{item.price.price_reduce}}</span>
              &nbsp;
              <span class="deactive" *ngIf="item.price.base_price > 0">{{item.currency}}{{item.price.base_price}}</span>
            </ion-label>
            <div class="cart-btn">
              <ion-icon name="bag-add-outline" color="light"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more products...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
