<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ecommerce - 1 DilMart This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Shop By Brands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-screen">
    <ion-row class="brands-list">
      <ion-col size="3" *ngFor="let item of util.cateList;" (click)="byCategory(item.name,item.id)">
        <div class="cover-image" [ngStyle]="{'background-image': 'url('+apiUrl+item.image_url+')'}"></div>
        <ion-label class="lbl">
          {{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name)}}</ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-content>