<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ecommerce - 1 DilMart This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="promo-codes">
    <ion-card *ngFor="let item of util.banners" (click)="onNavigate('offers')">
      <img alt="Cover" [src]="item" />
      <ion-card-header>
        <ion-card-subtitle>Best Lorem Impus Offers and TShirts & Shirts</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Available until 24 July 2022
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>